################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/bin
/Common/obj
/Management/bin
/Management/obj
/Model/bin
/Model/obj
/XWeeklyReport/bin
/XWeeklyReport/obj
/XWRManagement/bin
/XWRManagement/obj
#/XWeeklyReport/bin/Debug/Settings.ini
/XToDoList/bin
/XToDoList/obj
/XReminderTile/bin
/XReminderTile/obj
/XControls/bin
/XControls/obj
.vs
/Common/Common.csproj.user
/XReminderTile/XReminderTile.csproj.user
